@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 98%; /* Lighter Gray for a cleaner look */
    --foreground: 220 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 3.9%;
    --primary: 24 95% 53%; /* Lighter Orange */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 10% 3.9%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 24 95% 53%; /* Lighter Orange */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 24 95% 53%; /* Lighter Orange */
    --radius: 0.8rem;
    --chart-1: 24 95% 53%;
    --chart-2: 124 54% 65%;
    --chart-3: 206 85% 68%;
    --chart-4: 280 85% 60%;
    --chart-5: 0 84.2% 60.2%;
    --sidebar-background: 220 10% 10%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 24 95% 53%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 10% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 10% 15%;
    --sidebar-ring: 24 95% 53%;
  }

  .dark {
    --background: 220 10% 3.9%;
    --foreground: 210 20% 98%;
    --card: 220 10% 3.9%;
    --card-foreground: 210 20% 98%;
    --popover: 220 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 24 95% 53%; /* Lighter Orange */
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 9.8%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14.3% 9.8%;
    --muted-foreground: 220 8.9% 64.9%;
    --accent: 24 95% 53%; /* Lighter Orange */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 17%;
    --input: 220 13% 17%;
    --ring: 24 95% 53%; /* Lighter Orange */
    --chart-1: 24 95% 53%;
    --chart-2: 124 54% 65%;
    --chart-3: 198 93% 60%;
    --chart-4: 280 85% 60%;
    --chart-5: 210 20% 98%;
    --sidebar-background: 220 10% 10%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 24 95% 53%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 10% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 10% 15%;
    --sidebar-ring: 24 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
     -webkit-overflow-scrolling: touch;
  }
}

@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Opera */
  }
}
